[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
smop = "*"
numpy = "*"
ply = "*"
networkx = "*"
future = "*"
matplotlib = "*"
pytest = "*"
scipy = "*"
py-pde = "*"
tqdm = "*"
h5py = "*"
pint = "*"
ipython = "*"
pandas = "*"
tables = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
